<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DapperSugar" type="Dapper.Sugar.DapperSugarSection, Dapper.Sugar" />
  </configSections>
  <DapperSugar debug="true" logsql="true" name="sqlite" type="SQLite" connectionString="Data Source=App_Data\data.db;Version=3;UTF8Encoding=True;">
    <!--<connectionStrings>
      <add name="mysql" type="MySql">
        <list>
          <add name="default" authority="RW" connectionString="Server=localhost;Database=test;Uid=root;Pwd=aikCaBRQ#hL;CharSet=utf8mb4" />
        </list>
      </add>
    </connectionStrings>-->
  </DapperSugar>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>