<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DapperSugar" type="Dapper.Sugar.DapperSugarSection, Dapper.Sugar" />
  </configSections>
  <!--type 可选 MySql, SqlServer, PostgreSql, Oracle, SQLite-->
  <DapperSugar debug="true" logsql="true" name="mysql" type="MySql" connectionString="Server=49.233.186.44;Database=dapper_sugar;Uid=dappersugar;Pwd=ti@yGUylYCAsKNB7;CharSet=utf8mb4;CheckParameters=False">
    <!--<connectionStrings>
      <add name="mysql" type="MySql">
        <list>
          <add name="default" authority="RW" connectionString="Server=localhost;Database=test;Uid=root;Pwd=aikCaBRQ#hL;CharSet=utf8mb4" />
        </list>
      </add>
    </connectionStrings>-->
  </DapperSugar>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-AdminApi_Labour-20170929094803.mdf;Initial Catalog=aspnet-AdminApi_Labour-20170929094803;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.data>

  </system.data>
</configuration>
