<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DapperSugar" type="Dapper.Sugar.DapperSugarSection, Dapper.Sugar" />
  </configSections>
  <!--<DapperSugar debug="true" logsql="true" name="sqlite" type="SQLite" connectionString="Data Source=App_Data\data.db;Version=3;UTF8Encoding=True;">-->
  <DapperSugar debug="true" logsql="true" name="postgresql" type="PostgreSql" connectionString="Server=120.92.158.113;PORT=7890;Database=jxygdb;Uid=pinchun;Pwd=pinchun123456" />
  <system.data>
    <DbProviderFactories>
    </DbProviderFactories>
  </system.data>
</configuration>